<!DOCTYPE html>
<html>
<head>

<!-- FONTS -->
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

<!-- css   -->
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/normalize.css?app=skills">


<!-- JavaScript -->
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <script src="/js/application.js"></script>



	<title>mixtape app</title>
</head>
 <div container>
    <div class="row">
        <form class="" action="/"" method="get">
          <input  type="submit" value="Home">
        </form>
     <% if current_user %>
        <form class="" action="/user/<%=current_user.id%>"" method="get">
          <input  type="submit" value="PROFILE">
        </form>

         <form class="" action="/logout"" method="get">
           <input  type="submit" value="Logout">
         </form>
        <form class=" " action="/user/<%=current_user.id%>"" method="post">
          <input type="hidden" name="_method" value="put">
          <input class="button-primary" type="submit" value="Update">
        </form>
    </div>
</div>




  <% end %>
<body>

<%= yield %>

</body>
</html>
