<!DOCTYPE html>
<html>
<head>

<!-- FONTS -->
<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">

<!-- css   -->
<link rel="stylesheet" href="/css/application.css">
<link rel="stylesheet" href="/css/normalize.css?app=skills">


<!-- JavaScript -->
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <script src="/js/application.js"></script>



	<title>mixtape app</title>
</head>
  <% if current_user %>
    <nav>
      <h3>
        <a href="/logout">Logout</a>
        <a href="/user/<%= current_user.id %>">Update</a>
      </h3>
    </nav>
  <% end %>
<body>

<%= yield %>

</body>
</html>