

<div class="login">
 <h1>Mixtrek</h1>
 <h2 class="active"> sign in </h2>

 <h2> <a href="/new" class="nonactive">sign up</a></h2>

 </form>

 <br>
  <form action="/user" method="post">
   
    <input type="text" class="text" name="email">
     <span>email</span>

    <br>
    <br>

    <input type="password" class="text" name="password">
    <span>password</span>
    <br>

  
    <input type="submit" class="signin" value="Sign in" >
    

    <hr>

  </form>

</div>