<div>
	<form>
	<label for="username">Username</label>
      <input type="text" name="user[username]">
    <label for="phone">Phone</label>
      <input type="text" name="user[phone]">
    <input class="signin" type="submit" name="update">
	</form>
</div>
