<div>
	<form> 
	<label for="username">Username</label>
      <input type="text" name="user[username]">
    <label for="password_hash">Password</label>
      <input type="text" name="user[password]">
    <input class="signin" type="submit" name="update">
	</form>
</div>